.pcy-container{
    width:60%;
    padding-top:15px;
    margin:auto;   
}

.pcy-input{
    outline:none;
    border:2px solid #002c40;
    border-radius: 4px;
    padding: 8px 12px;
}

.pcy-input-box{
    display: flex;
    width:100%;
    margin-bottom:12px;
    }

.pcy-input-unit-text{
    background-color: #002c40;
    color:white;
    border-radius: 4px 0px 0px 4px;
    padding: 8px 12px;
    }
      
.pcy-input-unit{
    width:100%;
    border-radius: 0px 4px 4px 0px;
    padding: 8px 4px;
    }


.pcy-box{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    background: #e9ecef;
    border-radius: 4px;
    border:2px solid #002c40;
    padding:0.4rem 2rem;
    margin: 1.2rem 0;    
    width: 100%;
}

.pcy-btn{
    margin:8px 4px ;
    font-weight: 500;
    padding: 12px 24px;
    color: white;
    background-color:#002c40;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 4px;
}

@media (max-width: 600px) {
    .pcy-container{
        width:95%;
        margin:auto;
    }
  }