.pcy-rk-input-GR-border{
    padding-bottom:3rem;
    border-bottom: 1px solid #002c40;
    
}

.pcy-rk-input-GR{
    background-color: #e9ecef;
    padding:2rem 1rem;
    color:#002c40;
    font-size:18px;
    border:2px solid #002c40;
    border-radius: 4px;
    
}


.pcy-rk-input-box{
    margin:1rem 0;
    width:100%;
    transition: 0.5s;
    
}

.pcy-rk-input-label{
    padding:0px 6px;
    margin-bottom:6px;
}
.pcy-rk-input{
    width:100%;
    border: 2px solid #002c40;
    border-radius:4px;
    outline:none;
    padding:8px;
    margin-bottom:24px;
}
.pcy-rk-input-footer{
    color:#dc3545;
    font-size:14px;
}

.pcy-rk-input-footer-send { 
    border-radius: 4px;
     background-color:#002c40 ;
     border: none;
     color: #FFFFFF;
     text-align: center;
     margin:16px 0px ;
     padding: 0.8rem 1.6rem;
     transition: all 0.5s;
     cursor: pointer;
     
}
.pcy-rk-input-footer-send .pcy-rk-input-footer-send-btn { 
    cursor: pointer;
     display: inline-block;
     position: relative;
     transition: 0.5s;
     
}
.pcy-rk-input-footer-send .pcy-rk-input-footer-send-btn:after { 
    content: '\00bb';
     position: absolute;
     opacity: 0;
     top: 0;
     right: -20px;
     transition: 0.5s;
     
}
.pcy-rk-input-footer-send:hover .pcy-rk-input-footer-send-btn {
     padding-right: 25px;
      
    }
.pcy-rk-input-footer-send:hover .pcy-rk-input-footer-send-btn:after { 
    opacity: 0.7;
     right: 0;
     
}

.pcy-rk-result{
    
}
.pcy-rk-result-itemlist-wrapper{
    display: flex;
    border: 2px solid #d0d0d0;
    
    border-radius: 4px;
    padding: 15px;
    margin: 48px 0;
}

.pcy-rk-result-itemlist-wrapper:hover{
    border: 2px solid #002c40;
    /* transition: ease-in-out 0.5s, 0.3s; */
    transition:all 0.3s ease-out;
}



.pcy-rk-result-itemlist-img{
    padding: 3px;
    vertical-align: middle;
    width: 130px;
    height: auto;
    margin-right: 15px;
    
}

.pcy-rk-result-itemlist-box{
    width:100%;
    font-size:18px;
    overflow: hidden;
}

.pcy-rk-result-itemlist-label{
    width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre;
    font-size:20px;
    margin-bottom: 3px;
}

.pcy-rk-result-itemlist-storename{
    font-weight: 600;
    margin-bottom: 3px;
}

.pcy-rk-result-itemlist-price{
    color:red;
    margin-bottom: 3px;
}

.pcy-rk-result-itemlist-category{
    opacity: 0.7;
    font-size:12px;
}

.pcy-rk-result-itemlist-rank-p{
    margin-bottom: 0;
}

